*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

/* --------MENU DE NAVEGACION ------ */

.contenedorNav{
    background-color: #273E47;
    width: 100%;
    max-width: 100%;
    height: 115px;
    max-height: 100%;   
    align-items: center;
    display: flex;
    
}

.contenedorNav img {
    margin-left:150px; 
    width: 70px;
    height: 70px;
}

 .menu{
    width: 100%;
    margin-right: 150px;
    text-align:right;  
}

.menu a{
    margin: 0px 20px;
    font-family: 'Lato';
    font-size: 20px;
    color: white;
    text-decoration: none;  
}

.menu a:hover{
    color:#F49E4C;
    text-decoration: underline  #ffff;
    transition: 0.3s;
}

/* -------SECCION BIENVENIDOS------- */

.BGBienvenidos{
    background-color: rgba(244, 158, 76);
    width: 100%;
    max-width: 100%;
    height: 600px;
    max-height: 100%; 
    position: relative;
}

.SombraFondo{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}
/* Esta es nuestra capa opaca negra efecto overlay*/
.BGBienvenidos::before{ 
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
} /* Averiguar que hace la pseudoclase ::before */

.img{
    position: absolute;
    margin-top:180px;
    margin-right: 540px;   
}

.barra{
    width: 4px;
    background-color:#F49E4C ;
    height: 250px;
    margin-top: 150px;
    margin-right: 195px;
    position: absolute;
    
   
}

.textobienvenido{
    position: absolute;
    margin-top: 180px;
    margin-left: 460px;
    width:500px;
    height: 300px;
}
.BGBienvenidos div .saludo{
    margin-bottom: 30px;
    color: #ffff;
    font-family: 'Lato';
    font-size: 40px;
}
.Myname{
    font-family: 'Raleway';
    font-size: 30px;
    color: #ffff;
    font-weight: 400;
}
.Myname0{
    font-family: 'Raleway';
    font-size: 35px;
    color: #ffff;
    font-weight: 700;
}
.soy{
    font-family:'Raleway';
    font-size: 30px;
    color: white;
}
.soy span{
    font-family:'Raleway';
    font-size: 30px;
    color:#273E47 ;
    font-weight: 700;
}

.feather-arrow-down{
    position: absolute;
    top:80%;
    left: 50%;
    color: #fff;
    animation: flecha 2s ease infinite;
}

@keyframes flecha{
    /* 0%{transform: translate(0px);} */
    /* 25%{transform: translate(10px);} */
    /* 50%{transform: translate(20px);}
    100%{transform: translate(0px);} */

    0%{transform: translateY(0px);}
    /* 25%{transform: translate(10px);} */
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}




/* ------SECCION SOBRE MI-------- */
.fondosobremi{
    background-color: rgba(39, 62, 71);
    width: 100%;
    max-width: 100%;
    height: 600px;
    max-height: 100%;      
}

.fondosobremi h2{
    font-family: 'Lato';
    color: #bbbb;
    font-size: 60px;
}

.articlesobremi{
    display: flex;
    width: 100%;
    align-items: center;
    /* position: relative; */
}


.fondosobremi  p{
    font-family: 'Raleway';
    font-size: 25px;
    color: #fff;
    width: 600px;
    text-align: justify;
    position: relative;
    left: 12%;
    margin-left: 20px;
}
.email, .linkind{
    width: 34px 40px;
    color: rgba(244, 158, 76);
    position: relative;
    left: 13.5%;
    overflow: hidden;
    
}
.email:hover, .linkind:hover{
color: white;
transition: 0.3;

}


.articlesobremi img{
    position: relative;
    left: 20%;
    
    margin-right: 20%;
}

.ContenedorIconos {
    margin: 50px auto;
    /* DEBO AVERIGUAR PARA QUE ES EL white-space: ; */
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
    max-width: 800px;
}
.ContenedorIconos img{
    margin: 30px;
}

/* --------SECCION SERVICIOS-------- */

.fondodeservicios{
    background-color: rgba(244, 158, 76);
    width: 100%;
    max-width: 100%;
    height: 600px;
    max-height: 100%; 
    position: relative; 
    
}

.fondodeservicios::before{ /* Averiguar que hace la pseudoclase ::before */
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
}

.fondodeservicios h2{
    font-family: 'Lato';
    color: #28BC87;
    font-size: 60px;
    position: absolute;
}

.contenedorservicios{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 120px;
}

.Servicios{
    align-self: flex-start;
    margin: 0px 20px;
    width: 100%;
    height: 455px;
    max-height: 100%;
}

.subtituloservicios{
    font-family: 'Lato';
    font-size: 30px;
    color: #F49E4C;
    text-align: center;
    padding:10px 0px;
}

.contenedorservicios div p{
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    text-align: center;
}


.boton{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 15px;
    color:#fff;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    padding: 5px 50px;
    /* position: absolute;
    top: 90%; */
    
    
}

.boton:hover{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 15px;
    color:#fff;
    border-radius: 5px;
    border: none;
    background-color: #28BC87;
    transition: 0.3s;
    padding: 5px 50px;
    margin-top: 25px;
}

/* -------SECCION PORTAFOLIO------- */
.fondoportafolio{
    background-color: rgba(39, 62, 71);
    width: 100%;
    max-width: 100%;
    height: 600px;
    max-height: 100%; 
     
}

.fondoportafolio h2{
    font-family: 'Lato';
    color: #28BC87;
    font-size: 60px;
    position: relative;
    bottom: 45%;
    
}

.contenedorproyecto{
    background-color: #273E47;
    width: 100%;
    max-width: 100%;
    height: 400px;
    max-height: 100%;   
    align-items: center;
    display: flex;
    
}


.prueba{
    width: 400px;
    height: 250px;
    position: absolute;
    left: 180px; 
    opacity: .2
    
}

.prueba:hover{
    opacity: 1;
    transition: 0.3s;
}
.fondoportafolio h4{
    font-family: 'Lato';
    font-size: 30px;
    color: #F49E4C;  
    position: relative;
    left: 50%;
    bottom: 20%;
    /* margin-bottom: 200px; */
    margin-left: 0px;
}

.fondoportafolio p{
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    text-align: justify;
    width: 450px;
    position: absolute;
    left: 50%;
}

.fondoportafolio button{
    
    border-radius: 5px;
    border: none;
    background-color: #000;
    padding: 5px 50px;
    margin-top: 200px;
    position: absolute;
    left: 50%; 
    
}

.fondoportafolio button a{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 15px;
    color:#fff;
    text-decoration: none;
}

.svg-inline--fa1, .svg-inline--fa2{
    color: #F49E4C;
}

.svg-inline--fa2{
     position: absolute;
     right: 0;
     margin-right: 100px;
    
        
}

.svg-inline--fa1{
    position: absolute;
    left: 0px;
    margin-left: 100px;
}

/* ------------DIV----------- */
.Division{
    background-color: rgba(244, 158, 76);
    width: 100%;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
}

/* ------FOOTER------- */

footer{
    background-color: rgba(39, 62, 71);
    width: 100%;
    max-width: 100%;
    height: 300px;
    max-height: 100%; 
    display: flex;
    align-items: center;
    
}

footer .svg-inline--fa{
 color: white;
 padding: 0px 5px;
}

footer img{
   
    margin-left: 300px;
    
    
}

.contenedoriconos{
    margin-left:200px;  ;
    
}

footer p{
    align-self: flex-end;
    position: relative;
    right: 30%;
}

/* -----MEDIA QUERIES----- */

@media screen and (max-width:420px){
    .contenedorNav img {
        margin-left:20px; 
        width: 50px;
        height: 50px;
    }

    .menu{
        width: 100%;
        margin:40px 10px;
        text-align:center;
        text-decoration: underline white;  
    }

    /* -------SECCION BIENVENIDOS */
    .SombraFondo{
        display: flex;
        width: 100%;
 }
    .img{
        position: relative;
        bottom:120px;
        left: 72%;       
    }
    .barra{
        width: 4px;
        background-color:#F49E4C ;
        height: 250px;
        transform: rotate(90deg);
        position: absolute;
        margin-left: 200px;
       
    }
    
    .textobienvenido{
        position: absolute;
        margin: 320px 50px 0px 60px;
        
        width:350px;
        height: 300px;
        text-align: center;
    }

    .feather-arrow-down{
        display: none;
        position: absolute;
        top:80%;
        left: 50%;
        color: #fff;
        animation: flecha 2s ease infinite;
    }

    /* ------SECCION SOBRE MI-------- */

    .fondosobremi h2{
        font-family: 'Lato';
        color: #bbbb;
        font-size: 40px;
    }
    
    .articlesobremi{
        display: flex;
        width: 100%;
        align-items: center;
        /* position: relative; */
    }
    
    
    .fondosobremi  p{
        font-family: 'Raleway';
        font-size: 25px;
        margin-left: 0px;
        margin-top:  40px;
        color: #fff;
        width: 300px;
        height: auto;
        text-align: justify;
        position: relative;
        
    }
    .email, .linkind{
        width: 34px 40px;
        color: rgba(244, 158, 76);
        margin-top:20px;
        position: relative;
        left: 40%;
        
        
        
    }

    .articlesobremi img{
        position: relative;
        display: none;
        
        
    }
    
    .ContenedorIconos {
              
        max-width: 320px;
    /* --------SECCION SERVICIOS--------- */

}      

/* --------SECCION SERVICIOS--------- */

.fondodeservicios h2{
    font-size: 40px;
}

.contenedorservicios{
    display: flex;
    flex-direction: column;/*  porque si uso la propiedad columm puedo ver los servicios de forma horizontal y si uso la propiedad row visualizo los servicios de forma vertical */
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    margin: 120px 0px 0px 20px;
    overflow: scroll;
    max-width: 320px;
    height: 350px;
    
}



 .Servicios{
    margin: 0px 20px;
    width: 300px;
    height: 500px;
    text-align: center; 
}

/* -------SECCION PORTAFOLIO----------- */

.fondoportafolio h2{
    font-size: 40px;
}

.contenedorproyecto{
    background-color: #273E47;
    width: 320px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;   
    flex-direction: column;
    display: flex;
    /* position: relative; */
}
.prueba{
    width: 200px;
    height: 150px;
    position: absolute;
    left: 0px; 
    margin-left: 80px;
    margin-top: 70px;
    opacity: .2
}

.fondoportafolio h4{
    font-family: 'Lato';
    font-size: 25px;
    color: #F49E4C;  
    position: relative;
    bottom: 0px;
    left: 15px;  
    top: 20px;
}
.fondoportafolio p{
    font-family: 'Raleway';
    font-size: 20px;
    color: white;
    text-align: justify;
    width: 320px;
    margin-left: 0px;
    position: relative;
    top: 35%;
    left: 6%;
}

.fondoportafolio button{
    
    border-radius: 5px;
    border: none;
    background-color: #000;
    padding: 5px 60px;
    margin-top: 0px;
    position: relative;
    right: 0%;
    left: 6%;
    top: 45%;    
}

.svg-inline--fa1, .svg-inline--fa2{
    color: #F49E4C;
    display: none;
}

/* ------FOOOTER------- */

footer{
    background-color: rgba(39, 62, 71);
    width: 100%;
    max-width: 100%;
    height: 300px;
    max-height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer .svg-inline--fa{
 color: white;
 padding: 0px 5px;
}

footer img{
   
    margin-left: 0px;
    width: 200px;
    margin-top: 50px;
    
    
}

.contenedoriconos{
    margin-left:0px;
    margin-top: 20px;
    
}

footer p{
    align-self: flex-end;
    position: relative;
    right: 23%;
    top: 15%;
}

}


